.container {
  .header {
    height: 44px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    .legend {
      display: flex;
      gap: 8px;
      .title {
        font-weight: bold;
      }
      .subTitle {
        font-size: 14px;
        margin-top: 2px;
        color: gray;
        font-style: italic;
      }
    }
  }
  .content {
    padding: 24px;
  }
}
