.container {
  height: 46px;
  background: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  .logo {
    width: 200px;
    display: inline-flex;
    align-items: center;
    img {
      max-height: 34px;
      max-width: 100%;
    }
  }
  .avatar {
    font-size: 22px;
    cursor: pointer;
  }
}
