.container {
  padding: 24px;
  .sayhi {
    display: flex;
    gap: 32px;
    .welcome {
      flex: 1;
      .legend {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title {
          font-size: 28px;
          font-weight: 600;
          color: #333333ee;
        }
        .time {
          font-size: 18px;
          font-weight: 500;
          color: #ff000088;
        }
      }
      .msg {
        display: flex;
        align-items: center;
        margin-top: 32px;
        font-size: 18;
        gap: 12px;
        color: dimgray;
      }
    }
    .todo {
      width: 300px;
    }
  }
  .chart {
    margin: 24px 0;
    display: flex;
    > div {
      flex: 1;
      max-height: 350px;
      display: flex;
      justify-content: center;
      border: 1px dotted lightgray;
      border-radius: 4px;
      &:first-child {
        margin-right: 24px;
      }
    }
  }
}
